<!-- create.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>Create name</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <h1>Create name</h1>
    <form method="post" action="/create2">
      <label for="name">Name:</label>
      <input type="text" id_new="name" name="name" />
      <br />
      <label for="last">Last:</label>
      <input type="text" id_new="last" name="last" />
      <br />
      <input type="submit" value="create2" />
    </form>
    <div class="link-center">
      <a href="/auss">Back to List</a>
    </div>
  </body>
</html>